.Rhistory
.RData
.Rproj.user/
*.log
*.err
*.out

# External Sesia repository components not required for our benchmark wrapper
external_methods_sesia/code/conf_surv/conf_surv/
external_methods_sesia/code/conf_surv/examples/
external_methods_sesia/code/conf_surv/experiments/
results/gbsg/run_*/
results/gbsg/run_*/
